<header class="navbar navbar-dark sticjy-top bg-dark flex-md-nowrap p-0 shadow">
  <nav class="navbar bg-body-tertiary">

  </nav>
</header>

<div class="container-fluid">
  <div class="row">
    <ng-container *ngIf="role === 'User'">
    <nav id="sideBarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-limk avtive" aria-current="page" href="#">
              <svg xmlns> qwqw</svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-limk avtive" aria-current="page" href="#">
              sadads
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-limk avtive" aria-current="page" href="#">
              sadsadsad
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-limk avtive" aria-current="page" href="#">
            sadsadasdasd
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </ng-container>
  </div>
</div>


<!-- <div class="container">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand"> Hello {{fulllName}} <button class="btn btn-danger" (click)="logout()">logout</button></a>
      <form class="d-flex" role="search">
        <input class="form-control me-5" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div> -->
